:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --accent2-color: #eee;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul a:hover {
    color: #ccc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 1350px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 32px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 350px;
    left: 0px;
}

.hero article img {
    float: right;
    width: 150px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.history-section, .information-section {
    grid-column: span 3;
}

.history-content {
    margin: 1rem;
}

.history-content img {
    max-width: 100%;
    height: auto;
    justify-self: center;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    text-align: center;
}
.adventure img {
    width: 100%;
    height: 200px;
}

.adventure-section {
    grid-column: span 5;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0 auto;
}

.socialmedia{
    display: flex;
    gap: 1em;
}

/* Class Selector */
.box {
    margin: 0rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 0.5rem;
    background-color: #ddd;
    color: #000;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

p {
    margin: 0.25rem 0;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1.5rem;
    align-items: center;
    text-align: center;
}

.employee img {
    width: 70%;
    height: 200px;
}

.employee-section {
    grid-column: span 3;
}

form {
    width: 450px;
    display: grid;
}

.form-item {
    display: grid;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.column1 {
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0;
}

.form-item input, textarea {
    font-size: 1.2rem;
}

.form-item input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #055a05;
}

.radio-select {
    display: flex;
    flex-direction: column;
    gap: 8px;
}