* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --text-align: center;
    --primary-border: 1px solid black;
}

nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: var(--primary-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 100px;
}
footer {
    margin-top: 15px;
    border-top: var(--primary-border);
    text-align: var(--text-align);
}

/* Class Selector */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
